name: Welcome/Greetings
on:
  fork:
  issues:
    types: [opened]
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened]
  pull_request_review_comment:
    types: [created]

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "<h1>It's great having you contribute to this Project</h1> Thank you for noticing & notifying us for the issue in Sukoon. <br/>If you would like to keep contributing to open-source, you can check out the other projects by <b>Susmita Dey</b> <a href='https://github.com/Susmita-Dey?tab=repositories&q=&type=source&language=&sort='>here</a> Any questions, let us know. "
          pr-message: "<h1>It's great having you contribute to this project</h1> Thank you for your first pull request to Sukoon.  <br/> If you would like to keep contributing to open-source, you can check out the other projects by <b>Susmita Dey</b> <a href='https://github.com/Susmita-Dey?tab=repositories&q=&type=source&language=&sort='>here</a> Any questions, let us know. "
